livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
langchain-community
requests
httpx
python-dotenv
duckduckgo-search
ddgs
fuzzywuzzy
pyautogui
pynput
python-Levenshtein
pywin32
pygetwindow
pyperclip
livekit
opencv-contrib-python
psutil
pycaw
comtypes
pillow
winrt-Windows.UI.Notifications.Management
winrt-Windows.UI.Notifications
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
winrt-Windows.ApplicationModel
mss
send2trash
